{% extends 'base.html.twig' %}

{% block title %}Focus Cycle!{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm-9">
                <main role="main" class="inner cover">
                    <h1 class="cover-heading">Flow</h1>
                    <p class="lead">Choose or generate a sequence of techniques</p>

                    <div class="row">
                        <div class="col-sm-12">

                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary">
                                    <h3>Random Flow</h3>
                                </li>
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Technique</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Catagory</th>
                                        <th scope="col">Player</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for technique in flow_array  %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ technique.name }}</td>
                                            <td>{{ technique.startPosition.getValues[0] }}</td>
                                            {#<td>{{ technique.endPosition.getValues[0].name }}</td>#}
                                            <td>{{ technique.catagory }}</td>
                                            <td>{{ technique.player }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </ul>
                        </div>

                    </div>
                <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">
                                    <h3>Make a Flow</h3>
                                </li>

                                <li class="list-group-item">
                                    <form  action="{{ path('flowGo') }}">
                                        <div class="form-row">
                                            <label for="inputCity" class="form-group col-md-12"><strong>Options</strong></label>
                                            <div class="form-group col-md-2">
                                                <label for="formNumberTech">Iterations</label>
                                                <input type="text" class="form-control" id="formNumberTech" placeholder="5">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="inputState">Active Player</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Top Guy Only</option>
                                                    <option>Bottom Guy Only</option>
                                                    <option>Mixed</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="inputState">Ends with a Submission</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Yes</option>
                                                    <option>No</option>
                                                    <option>Don't mind</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="inputCity" class="form-group col-md-12"><strong>Starting Position</strong></label>
                                            <div class="form-group col-md-4">
                                                <label for="inputCity">Standing or Ground</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                    <label class="form-check-label" for="exampleRadios1">
                                                        Standing
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label for="inputState">Position</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Random</option>
                                                    {%   for position in positions  %}
                                                        <option>{{ position.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                    <label class="form-check-label" for="exampleRadios1">
                                                        Ground
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <select id="inputState" class="form-control">
                                                    <option selected>Random</option>
                                                    {%   for position in positions  %}
                                                        <option>{{ position.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Flow!!</button>



                                    </form>
                                </li>

                            </ul>
                        </div>

                    </div>

                </main>

            </div>
            <div class="col-sm-3">
                {% for cycle in cycles if cycle.name == 'Focus' %}
                    <div class="card" >
                        <img 	class="card-img-top"
                                src="{{ absolute_url(asset('images/flow.jpg')) }}"
                                alt="Card image cap">

                        <ul class="list-group list-group-flush">
                            <li  class="list-group-item">
                                <h4 class="card-title">Focus Subsystem
                                    <a href="/technique/new" class="badge badge-secondary">Butterfly Guard</a>
                                </h4>
                                <h5 class="card-title">Focus Position
                                    <a href="/technique/new" class="badge badge-secondary">Butterfly Guard Over/Under</a>
                                </h5>
                            </li>

                            <li class="list-group-item">
                                Each Period Lasts
                                <a href="/cycle" class="badge badge-secondary">{{ cycle.period }}</a><br>
                                Total Techniques
                                <a href="/technique/new" class="badge badge-secondary">{{ techniques|length }} !!!</a><br>
                                The Focus Cycle Lasts
                                <a href="/cycle/2" class="badge badge-secondary">2 Years</a><br>
                            </li>

                        </ul>

                    </div>
                {% endfor  %}
            </div>
            </main>
        </div>
    </div>




{% endblock %}
