{% extends 'base.html.twig' %}

{% block title %}LegOrientation index{% endblock %}

{% block body %}
    <h1>LegOrientation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leg_orientation in leg_orientations %}
            <tr>
                <td>{{ leg_orientation.id }}</td>
                <td>{{ leg_orientation.name }}</td>
                <td>
                    <a href="{{ path('leg_orientation_show', {'id': leg_orientation.id}) }}">show</a>
                    <a href="{{ path('leg_orientation_edit', {'id': leg_orientation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('leg_orientation_new') }}">Create new</a>
{% endblock %}
